@font-face {
  font-family: "mcg-font";
  src: url(./assets/mcgfont.otf) format("opentype") !important;
  font-weight: normal;
  font-style: normal;
}

body * {
  font-family: 'mcg-font', sans-serif;
}

html {
  background-color: #fedb01;
}

h1 {
  font-weight: bold!important;
}

.wrapper {
  background-color: #fedb01;
}

.design-b {
  max-width: 100%;
  height: auto;
}

.cta-banner {
  background-image: url("./assets/dot-proposal-banner.png");
  background-position: center;
}

.cta-banner > * {
  background: rgba(255, 255, 255, 0.9);
}

.temp-banner {
  background: rgba(255, 255, 255);
  text-align: center;
}

.temp-banner > h5 {
  margin: 0;
}

main {
  background: rgba(255, 255, 255);
  padding: 12px 0;
}

.cta {
  text-align: center;
}

.footer {
  text-align: center;
}

.media-title {
  text-decoration: none;
}

img.media-thumbnail {
  width: 48px;
  height: 48px;
}

.proposed-changes {
  display: none;
}

.footer-logo {
  width: 60%;
  height: auto;
}

@media (min-width: 992px) {
  .proposed-changes {
    display: block;
  }
  .proposed-changes-small {
    display: none!important;
  }
  .footer-logo {
    width: 30%;
  }
}
