html {
  background-color: #fedb01;
}

h1 {
	font-weight: bold!important;
}

.wrapper {
  background-color: #fedb01;
}

.design-b {
  max-width: 100%;
  height: auto;
}

main {
  background: rgba(255, 255, 255, 0.9);
  padding: 12px 0;
}

.cta {
  text-align: center;
}

.footer {
  text-align: center;
}

.media-title {
  text-decoration: none;
}

img.media-thumbnail {
  width: 48px;
  height: 48px;
}

.proposed-changes {
  display: none;
}

@media (min-width: 992px) {
  .proposed-changes {
    display: block;
  }
  .proposed-changes-small {
    display: none!important;
  }
}
